[build]
  command = "npm run build"
  functions = "functions"
  publish = "dist"

[build.environment]
  NPM_CONFIG_PRODUCTION = "false"  # This ensures devDeps like typescript are installed

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200
  force = true